body {
    background: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #000000;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 1em;
    width: 350px;
    height: auto;
}

@keyframes box{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

h2 {
    text-align: center;
    color: #333;
}

#output {
    margin-top: 1rem;
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
}